<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="show.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <div class="container">
      <% console.log(strays) %>
      <%  for(let i = 0; i < strays.length; i++){%>
          <div class="content">
          <h1> <%= strays[i].name %> </h1>
          <a href="#"><img class="stray-image" src="<%= strays[i].img %>"></a>
          <ul>
            <li><%= strays[i].breed %></li>
            <li><%= strays[i].age %></li>
            <li><%= strays[i].color %></li>
          </ul>
          </div>
      <%  } %>
    </div>
    <a href="/strays/new"><button class="btn" type="button" name="button">New Stray</button></a>
  </body>
</html>
