<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/strays_main.css">
    <link rel="stylesheet" href="./header.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <h1>Available for Adoption</h1>
    <div class="container">
      <% console.log(strays) %>
      <%  for(let i = 0; i < strays.length; i++){%>
          <div class="content">
          <h2> <%= strays[i].name %> </h2>
          <a href="/strays/<%= strays[i].id %>"><img class="stray-image" src="<%= strays[i].img %>"></a>
          <ul>
            <li>Breed: <%= strays[i].breed %></li>
            <li>Age: <%= strays[i].age %></li>
            <li>Color: <%= strays[i].color %></li>
          </ul>
          </div>
      <%  } %>
    </div>
    <% if(currentUser.Admin === true){ %>
    <a href="/strays/new"><button class="btn" type="button" name="button">New Stray</button></a>
    <% } %>
    <% include ../partials/footer.ejs %>
  </body>
</html>
