<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="show.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% console.log(strays) %>
    <%  for(let i = 0; i < strays.length; i++){%>
        <div>
        <h1> <%= strays[i].name %> </h1>
        <a href="#"><img src="<%= strays[i].img %>"></a>
        <ul>
          <li><%= strays[i].breed %></li>
          <li><%= strays[i].age %></li>
          <li><%= strays[i].color %></li>
        </ul>
        </div>
    <%  } %>
  </body>
</html>
