<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <link rel="stylesheet" href="./main.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <% include ./partials/head.ejs %>
    <title></title>
  </head>
<body>
  <div id="welcome">
  <% if(currentUser){ %>
  <h1>Welcome <%= currentUser.name %></h1>
  <% console.log(currentUser._id)%>
  <a id="user-homepage" href="/sessions/<%=currentUser._id%>"%>>Your Homepage</a>
  <% } %>
</div>
  <h1>Meet Our Newest furriends</h1>
<div id="friends">
  <% if(strays.length > 1){ %>
  <% for(let i = strays.length -1; i > strays.length -3; i--) { %>
    <div class="new-friend">
      <h2> <%= strays[i].name %> </h2>
      <a href="strays/<%=strays[i].id%>"><img src="<%= strays[i].img %>"></a>
    </div>
  <% } %>
  <% } else { %>
  <% for(let i = 0; i < strays.length; i++){ %>
    <div class="new-friend">
      <h2> <%= strays[i].name %> </h2>
      <a href="strays/<%=strays[i].id%>"><img src="<%= strays[i].img %>"></a>
    </div>
<%   } %>
<% } %>
</div>
</body>
</html>
