<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
     <link rel="stylesheet" href="./main.css">
     <link rel="stylesheet" href="./header.css">
   <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <title></title>
  </head>
<body>
  <% include ./partials/head.ejs %>
  <% if(currentUser) { %>
    <div id="container">
      <h1>Welcome, <%=currentUser.name%></h1>
      <a id="user-homepage" href="/sessions/<%=currentUser._id%>"%>>Your Homepage</a>
    </div>
    <% } %>
  <h1>Meet Our Newest furriends</h1>
  <div id="friends">
    <% if(strays.length > 1){ %>
    <% for(let i = strays.length -1; i > strays.length -3; i--) { %>
      <div class="new-friend">
        <h2> <%= strays[i].name %> </h2>
        <a href="strays/<%=strays[i].id%>"><img src="<%= strays[i].img %>"></a>
      </div>
    <% } %>
    <% } else { %>
    <% for(let i = 0; i <= strays.length; i++){ %>
      <div class="new-friend">
        <h2> <%= strays[i].name %> </h2>
        <a href="strays/<%=strays[i].id%>"><img src="<%= strays[i].img %>"></a>
      </div>
  <%   } %>
  <% } %>
  </div>
  <div id="event">
    <% for(let i=0; i<events.length; i++){ %>
      <%=events[i].title%>
    <% }%>

  </div>
    <% include ./partials/footer.ejs %>
</body>
</html>
