<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="../main.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  </head>
  <body>
    <% include ../partials/head.ejs %>
    <div id="container">
      <%if(currentUser){%>
      <% if(currentUser.id === user.id){ %>
      <h1><%=user.name%>'s Page</h1>
      <ul>
        <li>Your availability hours are: <%=user.hours%></li>
        <% if(user.catPref === true){ %>
        <li>You are open to working with cats<li>
        <% } else { %>
        <li>You are NOT open to working with cats<li>
        <% } %>
        <% if(user.dogPref === true){ %>
        <li>You are open to working with to dogs<li>
        <% } else { %>
        <li>You are NOT open to working with to dogs<li>
        <% } %>
        <% if(user.fosterAble === true){ %>
        <li>You are open to fostering<li>
        <% } else { %>
        <li>You are NOT open to fostering<li>
        <% } %>
        <li>You are currently fostering:
          <% if(user.fostering.length < 1){ %>
          No animals
        <% } else { %>
          <% for(let i = 0; i< user.fostering.length; i++) { %>
            <% if(i< user.fostering.length -1){ %>
              <%=user.fostering[i].name%>,
            <% } else { %>
              <%=user.fostering[i].name%>
            <% } %>
            <img id="foster-img" src="<%=user.fostering[i].img %>">
          <% } %></li>
          <% } %>
          <a id="edit-button" href="/users/<%= user.id %>/edit"><button type="button" name="button">Edit<br> Info</button></a>
          <form method="Post" action="/users/<%=user.id%>?_method=DELETE" method='POST'>
            <button id="userDelete" type="submit">Delete your account</button>
          </form>
          <% } else { %>
            <h1> This is not your account page </h1>
            <% } %>%>
          <% } else { %>
            <h1> Please log in to access this page </h1>
            <% } %>%>
    </div>
<% include ../partials/footer.ejs %>
  </body>
</html>
